<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Selenium" parallel="tests" thread-count="1">
    <test name="Test-Chrome">
        <parameter name="browser" value="Chrome"/>
        <classes>

        </classes>
    </test>

    <test name="Test-Firefox">
        <parameter name="browser" value="Fire-fox"/>
        <classes>

        </classes>
    </test>

    <test name="Test-Edge">
        <parameter name="browser" value="Edge"/>
        <classes>

        </classes>
    </test>
</suite>