<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Selenium" parallel="tests" thread-count="1">
    <test name="Test-Chrome">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="testcase.TO_JOOMLA_ARTICLE"/>
            <class name="testcase.TC_JOOMLA_CONTACTS"/>
            <class name="testcase.TO_JOOMLA_WEBLINKS"/>
            <class name="testcase.TC_JOOMLA_CATEGORY_MANAGER"/>
            <class name="testcase.TC_JOOMLA_BANNERS_BANNERS"/>
            <class name="testcase.TC_JOOMLA_BANNERS_CLIENTS"/>
        </classes>
    </test>

    <test name="Test-Firefox">
        <parameter name="browser" value="Fire-fox"/>
        <classes>

        </classes>
    </test>

    <test name="Test-Edge">
        <parameter name="browser" value="Edge"/>
        <classes>

        </classes>
    </test>
</suite>